<navbar></navbar>
<div class="container">
	<div class="row" ng-show="loadingData">
		<div class="col-xs-1" ></div>
		<div class="box col-xs-10">
			<h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			BTCPayments its working over Testnet, using mqyp4A44N1ekc2LzoAjasMo4SToZUrwfrG as main address,a with paymentTimeout of 120 minutes,a limitBalance of 0001 BTC,a txFee of 0.0001 BTC,a functionTimeout of 10 seconds and a warningTimeout of 30 minutes.
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Create Payment </h3>
			<div class="row">
				<div class="col-xs-4 text-center">
					<div class="form-group" id="emailInput">
						<label >Email</label><br>
						<input class="form-control" name="paymentEmail" ng-model="paymentEmail" type="text">
					</div>
				</div>
				<div class="col-xs-3 text-center">
					<div class="form-group">
						<label >BTC Quantity</label><br>
						<input class="form-control" name="paymentQuantity" ng-model="paymentQuantity" type="number" min="0,0000001" max="1" step="0.0001">
					</div>
				</div>
				<div class="col-xs-2 text-center">
					<div class="form-group">
						<label >Operation</label>
						<select class="form-control" ng-model="paymentOperation">
							<option ng-repeat="op in onCompleteFunctions">{{op.name}}</option>
						</select>
					</div>
				</div>
				<div class="col-xs-3 text-center">
					<br>
					<button class="btn btn-default" ng-click="createPayment()">Create Payment</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Payments Waiting </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">To Address</th>
						<th class="text-center">Date Begin</th>
						<th class="text-center">Operation</th>
						<th class="text-center">Warned</th>
						<th class="text-center">Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="paymentW in paymentsWaiting">
						<td class="text-center"><small>{{paymentW.toAddress}}</small></td>
						<td class="text-center">{{paymentW.dateBegin | date:'short'}}</td>
						<td class="text-center">{{paymentW.opName}}</td>
						<td class="text-center">{{paymentW.warned}}</td>
						<td class="text-center">{{paymentW.quantity}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Payments Done </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">To Address</th>
						<th class="text-center fromAddressColum">From Address</th>
						<th class="text-center">Date Begin - Date Finish</th>
						<th class="text-center">Operation</th>
						<th class="text-center">Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="paymentD in paymentsDone">
						<td class="text-center"><small>{{paymentD.toAddress}}</small></td>
						<td class="text-center fromAddressColum">{{paymentD.fromAddress}}</td>
						<td class="text-center">{{paymentD.dateBegin | date:'short'}} - {{paymentD.dateFinish | date:'short'}}</td>
						<td class="text-center">{{paymentD.opName}}</td>
						<td class="text-center">{{paymentD.quantity}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Addresses Waiting </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">Address</th>
						<th class="text-center">Payment Waiting</th>
						<th class="text-center">Operation</th>
						<th class="text-center">Blance</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="address in addressesWaiting">
						<td class="text-center"><small>{{address.string}}</small></td>
						<td class="text-center">{{address.paymentWaiting}}</td>
						<td class="text-center">{{address.opName}}</td>
						<td class="text-center">{{address.balance}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Addresses Free </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">Address</th>
						<th class="text-center">Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="address in addressesFree">
						<td class="text-center"><small>{{address.string}}</small></td>
						<td class="text-center">{{address.balance}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Payments onCreate Functions </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Code</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="onCreateFunction in onCreateFunctions">
						<td class="text-center">{{onCreateFunction.name}} </td>
						<td style="word-break: break-all;"><pre>{{onCreateFunction.code}}</pre></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Payments onComplete Functions </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Code</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="onCompleteFunction in onCompleteFunctions">
						<td class="text-center">{{onCompleteFunction.name}} </td>
						<td><pre>{{onCompleteFunction.code}}</pre></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Payments onCancel Functions </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Code</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="onCancelFunction in onCancelFunctions">
						<td class="text-center">{{onCancelFunction.name}} </td>
						<td><pre>{{onCancelFunction.code}}</pre></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row" ng-show="!loadingData">
		<div class="box col-xs-12">
			<h3 class="text-center"> Payments onWarning Functions </h3>
			<table class="table table-hover hidden-xs">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Code</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="onWarningFunction in onWarningFunctions">
						<td class="text-center">{{onWarningFunction.name}} </td>
						<td><pre>{{onWarningFunction.code}}</pre></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
