<navbar></navbar>
<div id="fb-root"></div>
<div class="container">
	<div class="row">
		<div class="col-xs-9 blog-main ">
			<div class="box blog-post">
				<div class="profilePost col-xs-2" style="background-image: url('http://augustolemble.com:3000/getImage?name={{post.img}}');"></div>
				<div class="col-xs-10">
					<h2 class="blog-post-title text-left" ng-show="language=='es'">{{post.titleEs}}</h2>
					<h2 class="blog-post-title text-left" ng-show="language=='en'">{{post.titleEn}}</h2>
					<p class="blog-post-meta text-left">{{words.posted}} {{post.date | date:'MMM d, y'}} {{words.in}}  
					<span ng-if="post.categories.length < 1">{{post.categories[0]}}</span>
					<span ng-if="post.categories.length >= 1" ng-repeat="cat in post.categories"><span ng-if="!$first">, </span>{{cat}}</span>
					</p>
				</div>
				<br>
				<div class="col-xs-12 longBody" ng-show="language=='es'" ng-bind-html="toTrusted(post.bodyEs)"></div>
				<div class="col-xs-12 longBody" ng-show="language=='en'" ng-bind-html="toTrusted(post.bodyEn)"></div>
				<div class="col-xs-12">
					<a href="https://twitter.com/share" class="btn btn-share btn-default pull-right" data-via="LembleAugusto" data-size="large" data-count="none">Tweet <i class="fa fa-twitter"></i></a>
					<a class="btn btn-share btn-default pull-right" href="#" socialshare socialshare-provider="facebook" socialshare-text="Title En" socialshare-caption="Title En" socialshare-description="Descrip En">
					{{words.share}} <i class="fa fa-facebook"></i>
					</a>
				</div>
			</div>
			<div class="box comments">
				<p>{{words.comments}}:</p>
				<blockquote ng-repeat="comment in post.comments">
					<p>{{comment.text}}</p>
					<small>{{comment.name}} - <cite title="Source Title">{{comment.date | date:'MMM d, y, hh:mm'}}</cite></small>
				</blockquote>
				<div class="alert alert-warning" id="commentAlert">
					{{words.commentAlert}}
				</div>
				<p>{{words.addComment}}:</p>
				<div class="form-group no-margin">
					<input type="text" class="form-control" ng-model="newComment.name" placeholder="Your name">
				</div>
				<textarea class="form-control comment-box" maxlength="150" ng-model="newComment.text" placeholder="Beetwen 20 and 150 characters"></textarea spellcheck="true">
				<div class="row text-center">
					<div class="btn btn-primary" ng-click="submitComment()"> {{words.submit}} </div>
				</div>
			</div>
		</div>
		<div class="col-xs-3 blog-sidebar ">
			<sidebar></sidebar>
		</div>
	</div>
</div>
