<navbar></navbar>
<div class="container">
	<div class="row" ng-show="language=='en'">
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">BTC-Payments <small>- NodeJs + ExpressJS + MongoDB + AngularJS + Bitcore + Blockr API - <span class="label label-success">Active</span></small> <a href="https://github.com/AugustoL/btc-payments"><i class="fa fa-github"></i></a> <small><a href="https://www.npmjs.com/package/btc-payments">on npm</a></small> <small><a href="/btcPayments">Live Example</a></small></h3>
				<p class="margin-row">An NPM module to easily configure and integrate a BTC payments processor into nodejs, using a hierarchical deterministic addresses you will receive all your payments on a single address. You will also dont need the bitcoin blockchain to push text, so its very lightweight and you can use the testnet network for testing.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">BTC-Price <small>- NodeJs + MongoDB - <span class="label label-success">Active</span></small></h3>
				<p class="margin-row">An NPM module that allows you to get the btc price of the biggest exchanges and save them.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">Just a logger <small>- NodeJs - <span class="label label-success">Active</span></small> <a href="https://github.com/AugustoL/just-a-logger"><i class="fa fa-github"></i></a> <small><a href="https://www.npmjs.com/package/just-a-logger">on npm</a></small></h3>
				<p class="margin-row">An NPM module that allows you to print custom output messages.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">Crytpuse <small>- NodeJs + ExpressJS + MongoDB + AngularJS + Bitcore + Blockr API - <span class="label label-warning">Suspended</span></small></h3>
				<p class="margin-row">CryptUse is a public and free web platform for people, commerces and foundations that use Bitcoin and other cryptocurrencies.<br>
				With one single account, you can use the three services we provide: Searching, trading and shopping; thus having a centralized solution for all your cryptocurrency needs, and always keeping possession over them.<br>
				You will be able to find users and see their public profile, including social networks, personal information, what they’re offering or looking for; and trade money or products with them, all of this using cryptocurrencies.<br>
				Thanks to our mediation system, all trades between users will still be completely peer-to-peer. And, if a problem arises or the negotiations fails, we make sure your money is returned to you.<br>
				And every action, like selling or buying, will affect your and other users’ “karma” rating, promoting the good behaviour in the platform.</p>
				<div class="row text-center">
					<object id="videoTutorial" data="http://www.youtube.com/embed/Gz1KBseNBak"></object>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">Cryptsy Bender <small>- Java + Crytpsy API - <span class="label label-danger">Finished</span> <a href="https://bitcointalk.org/index.php?topic=700160.0"> BitcoinTalk Forum</a></small> </h3>
				<p class="margin-row">A BTC trading bot that uses simple trading algorithms and works over the exchange cryptsy.com.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">MCXNow BOT <small>- Java + MCXNow API - <span class="label label-danger">Finished</span> <a href="https://bitcointalk.org/index.php?topic=563573"> BitcoinTalk Forum</a></small> </h3>
				<p class="margin-row">A BTC trading bot that uses simple trading algorithms and works over the exchange mcxnow.com.</p>
			</div>
		</div>
	</div>
	<div class="row" ng-show="language=='es'">
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">BTC-Payments <small>- NodeJs + ExpressJS + MongoDB + AngularJS + Bitcore + Blockr API - <span class="label label-success">Activo</span></small> <small><a href="https://github.com/AugustoL/btc-payments"><i class="fa fa-github"></i></a> <a href="https://www.npmjs.com/package/btc-payments">on npm</a></small></h3>
				<p class="margin-row">Un modulo de NPM para configurar e integrar fácilmente un procesador de pagos de Bitcoin en nodejs, usando billeteras jerárquicas y deterministas va a recibir todos los pagos en una única dirección de bitcoin. Además no necesitara tener un daemons de bitcoin corriendo o la cadena de bloques descargada, ya que utiliza la api de blockr para consultar transacciones y enviarlas a la cadena de bloques.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">BTC-Price <small>- NodeJs + MongoDB - <span class="label label-success">Activo</span></small> </h3>
				<p class="margin-row">Un modulo NPM que te permite obtener el precio del bitcoin de los mayores exchanges en la web.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">Just a logger <small>- NodeJs - <span class="label label-success">Activo</span></small> <a href="https://github.com/AugustoL/just-a-logger"><i class="fa fa-github"></i></a> <small><a href="https://www.npmjs.com/package/just-a-logger">on npm</a></small></h3>
				<p class="margin-row">Un modulo NPM que permite imprimir mensajes por consola customizados.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">Crytpuse <small>- NodeJs + ExpressJS + MongoDB + AngularJS + Bitcore + Blockr API - <span class="label label-warning">Suspendido</span></small> </h3>
				<p class="margin-row">CryptUse es una plataforma web pública y gratuita para personas, comercios y fundaciones que utilizan bitcoin u otras criptomonedas.\nCon solo una cuenta podrás utilizar nuestros tres servicios: Búsqueda, intercambios y compras o venta de productos, todo esto en una plataforma centralizada y siempre teniendo posesión de tus criptomonedas.<br>
				Podrás buscar usuarios y ver sus perfiles públicos, incluyendo redes sociales, información personal, que están buscando y ofreciendo e intercambiar dinero o productos con ellos, todo esto usando criptomonedas.<br>
				Gracias a nuestro sistema de mediación, todos los intercambios entre usuarios serán directamente entre ellos y si ocurre un problema o la negociación cae nos aseguramos que el dinero sea devuelto a los usuarios correspondientes.<br>
				Toda acción como comprar o vender va a afectar el "karma" del usuario, promoviendo así el buen comportamiento en el sitio.</p>
				<div class="row text-center">
					<object id="videoTutorial" data="http://www.youtube.com/embed/sD82irRXwNM"></object>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">Cryptsy Bender <small>- Java + Crytpsy API - <span class="label label-danger">Terminado</span> <a href="https://bitcointalk.org/index.php?topic=700160.0"> BitcoinTalk Forum</a></small> </h3>
				<p class="margin-row">A trading bot that uses  bitcoin and altcoins with simple trading algorithms and works over the exchange cryptsy.com.
				Un bot de trading de Bitcoin y altcoins que utiliza algoritmos simples sobre cryptsy.com.</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="box">
				<h3 class="no-margin">MCXNow BOT <small>- Java + MCXNow API - <span class="label label-danger">Terminado</span> <a href="https://bitcointalk.org/index.php?topic=563573"> BitcoinTalk Forum</a></small> </h3>
				<p class="margin-row">Un bot de trading de Bitcoin que utiliza algoritmos simples sobre mcxnow.com.</p>
			</div>
		</div>
	</div>
</div>
