<!DOCTYPE html>
<html ng-app="ALapp">
    <head>
        <base href="/">
        <title >AugustoLemble</title>
        <meta name="description" content="{{ metaService.metaDescription() }}" />
        <meta name="keywords" content="{{ metaService.metaKeywords() }}" />
        <meta name="author" content="Augusto Lemble">
        <meta property="og:title" content="<%= title %>" ></meta>
        <meta property="og:site_name" content="Augusto Lemble"/>
        <meta property="og:url" content="<%= url %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:type" content="article" />
        <meta property="article:author" content="https://www.facebook.com/augusto8" />
        <meta property="article:publisher" content="https://www.facebook.com/augusto8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/img/handWhite.ico" type="image/x-icon">
        <!-- CSS and LESS -->
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/public/libs/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/public/css/social-buttons.css">
        <link rel="stylesheet" href="/public/css/styles.css">
        <!-- LIBS -->
        <script type="text/javascript" src="/public/libs/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/libs/angular/angular.js"></script>
        <script type="text/javascript" src="/public/libs/angular-local-storage/dist/angular-local-storage.js"></script>
        <script type="text/javascript" src="/public/libs/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/public/libs/ng-flow/dist/ng-flow-standalone.js"></script>
        <script type="text/javascript" src="/public/libs/angular-socialshare/src/js/angular-socialshare.js"></script>
        <script type="text/javascript" src="/public/libs/peer.js"></script>
        <!-- LANGUAGES -->
        <script type="text/javascript" src="/public/languages.js"></script> 
        <!-- ANGULAR -->
        <script type="text/javascript" src="/public/angular/appCore.js"></script>
        <script type="text/javascript" src="/public/angular/directives/footer.js"></script>
        <script type="text/javascript" src="/public/angular/directives/navbar.js"></script>
        <script type="text/javascript" src="/public/angular/directives/sidebar.js"></script>
        <script type="text/javascript" src="/public/angular/directives/image.js"></script>
        <script type="text/javascript" src="/public/angular/services/publicService.js"></script> 
        <script type="text/javascript" src="/public/angular/services/sessionService.js"></script>
        <script type="text/javascript" src="/public/angular/services/metaService.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/navBarController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/sidebarController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/homeController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/postController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/cvController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/playController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/musicController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/projectsController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/footerController.js"></script>
        <script type="text/javascript" src="/public/angular/controllers/videoCallController.js"></script>
        <script type="text/javascript" src="/public/angular/routeProvider.js"></script>  
    </head>
    <body>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div ng-view class="fullHeight"></div>
        <div footer=""></div> 
    </body>
    <script type="text/javascript">
        document.head = document.head || document.getElementsByTagName('head')[0];

        var isWhite = true;
        function changeFavicon() {
            var link = document.createElement('link'),
            oldLink = document.getElementById('dynamic-favicon');
            link.id = 'dynamic-favicon';
            link.rel = 'shortcut icon';
            if (isWhite){
                link.href = "/public/img/handRed.ico";
                isWhite = false;
            } else {
                link.href = "/public/img/handWhite.ico";
                isWhite = true;
            } 
            if (oldLink) {
                document.head.removeChild(oldLink);
            }
            document.head.appendChild(link);
        }

        $('body').click(function() {
           changeFavicon()
        });
    </script>
</html>