<navbar></navbar>
<div class="container">
	<div class="row">
		<div class="col-sm-9 blog-main ">
			<div class="box">
				<div class="row">
					<div class="col-sm-6 text-center">
						<div class="form-group">
						    <input type="text" class="form-control" id="fromInput" placeholder="From" ng-model="from">
						</div>
					</div>
					<div class="col-sm-6 text-center">
						<div class="form-group">
						    <input type="text" class="form-control" id="subjectInput" placeholder="Subject" ng-model="subject">
						</div>
					</div>
				</div>
				<textarea class="form-control contactInput" id="textInput" placeholder="Text.." ng-model="text"></textarea>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 text-center">
						<span class="danger">{{errorInForm}}</span>
						<button id="submitButton" class="btn-lg btn-primary total-width" ng-click="submitMessage()">{{words.submit}}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3 blog-sidebar ">
			<sidebar></sidebar>
		</div>
	</div>
</div>
