<navbar></navbar>
<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="box">
				<div ng-show="language=='en'">
					<legend class="text-center">Technology and Programming Experience</legend> 
					It began in June of 2007 (16 years old) when I started using linux OS, despite being my first experience using the command line and have only a guide book of 200 pages I was able to start using it, I learned so much so quickly and so easily that I realized that was my way. From there I began to distribute free software among my friends, install it on the pc from my school and I began to see languages like python, javascript, html and css.<br>
					The rest of the story continues in Tandil, where I spent two years studying Systems Engineering. Then I signed up in another carrer called "Technician in Programming" which had a plan of studies more interesting, practical and short, although I didnt finished it, I learned a lot about web programming.<br>
					After that I worked in a web-media company in Tandil until I met bitcoin, when I met it I was stunned with the idea of ​​a "global database, decentralized based on trust," that was my first description of the bitcoin blockchain from then until now I am still learning, researching and seeking new ways to use it.<br>
					In February 2004 I was unemployed so I started working as freelancer from home and develop products and applications with bitcoin,During that time I designed, developed and sold a bitcoin trading bots with a friend.<br>
					After the bots trading I found a startup with some friends called CryptUse, which could never finish the final product, but it was a very fruitful experience personally, in which I could learn a lot in new technologies and managing development teams.<br>
					<br>
					<h4 class="text-center"><a href="/projects">Projects and Experience</a></h4> 
					<h4 class="text-center"><a href="/projects">Likedin Profile</a></h4> 
					<br>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
							<legend>Technologies and Programming Languages</legend> 
							<ul class="list-group">
								<li class="list-group-item">NodeJS</li>
								<li class="list-group-item">MongoDB</li>
								<li class="list-group-item">Javascript</li>
								<li class="list-group-item">JQuery</li>
								<li class="list-group-item">AngularJS</li>
								<li class="list-group-item">Bootstrap</li>
								<li class="list-group-item">CSS3</li>
								<li class="list-group-item">Bitcoin</li>
								<li class="list-group-item">Java</li>
								<li class="list-group-item">PHP</li>
								<li class="list-group-item">MySQL</li>
								<li class="list-group-item">Android</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
							<legend>Skills</legend> 
							<ul class="list-group">
								<li class="list-group-item">Team Leadership</li>
								<li class="list-group-item">Bitcoin Experience</li>
								<li class="list-group-item">Enterpreur Spirit</li>
								<li class="list-group-item">Scrum</li>
							</ul>
							<legend>Other Information</legend> 
							<ul class="list-group">
								<li class="list-group-item">Passport Available</li>
								<li class="list-group-item">English (Fluent)</li>
								<li class="list-group-item">Spanish (Native)</li>
								<li class="list-group-item">Driver License</li>
							</ul>
						</div>
					</div>
					<br>
				</div>
				<div ng-show="language=='es'">
					<legend class="text-center">Experiencia en Tecnologia y Programacion</legend> 
					Todo comenzo en junio del 2007 (a los 16 años) cuando comencé a utilizar el sistema operativo ubuntu basado en linux, a pesar de que fue mi primer experiencia utilizando una línea de comandos solo con un libro de 200 paginas como guía me las pude arreglar para utilizarlo perfecto. Aprendí tanto en tan poco tiempo que me di cuenta que eso era lo que quería para mi futuro, trabajar con computadoras o mayormente utilizándolas. Comencé a distribuir copias de linux entre mis amigos y en la escuela, predicando ya desde joven el software libre y comencé a ver lenguajes de programación como python, html, javascript y css.<br>
					El resto de la historia continua en Tandil, donde estuve dos años estudiando Ingeniería en Sistemas. Me anote en otra carrera llamada "Tecnicatura en Programación" la cual tenia un plan de estudios mas interesante, practico y corto, a pesar de que no la termine aprendí muchísimo sobre programación web. Comencé a trabajar en una empresa de sistemas de Tandil hasta que conocí bitcoin, cuando lo conocí quede impactado con la idea de "una base de datos global, descentralizada basada en la confianza", ese fue mi primera descripción de la cadena de bloques de bitcoin, desde ese momento hasta ahora sigo aprendiendo, investigando y buscando nuevas alternativas para utilizarlo.<br>
					En febrero del 2004, ya fuera de la empresa para la que trabajaba comencé a trabajar de freelancer desde casa y desarrollar productos y aplicaciones con bitcoin, fue hacia que logre diseñar, desarrollar y vender unos bots de trading de bitcoin con un amigo.<br>
					Después de los bots de trading funde una startup con unos amigos llamada CryptUse, la cual nunca pudimos terminar el producto final, pero fue una experiencia muy fructifera en lo personal, en la cual pude aprender muchísimo en nuevas tecnologías y manejo de equipos de desarrollo.<br>
					<br>
					<h4 class="text-center"><a href="/projects">Proyectos y Experiencia</a></h4> 
					<h4 class="text-center"><a href="/projects">Perfil en Linkedin</a></h4> 
					<br>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
							<legend>Tecnologias y Lenguajes de Programacion</legend> 
							<ul class="list-group">
								<li class="list-group-item">NodeJS</li>
								<li class="list-group-item">MongoDB</li>
								<li class="list-group-item">Javascript</li>
								<li class="list-group-item">JQuery</li>
								<li class="list-group-item">AngularJS</li>
								<li class="list-group-item">Bootstrap</li>
								<li class="list-group-item">CSS3</li>
								<li class="list-group-item">Bitcoin</li>
								<li class="list-group-item">Java</li>
								<li class="list-group-item">PHP</li>
								<li class="list-group-item">MySQL</li>
								<li class="list-group-item">Android</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
							<legend>Habilidades</legend> 
							<ul class="list-group">
								<li class="list-group-item">Liderazgo de Equipos</li>
								<li class="list-group-item">Experiencia en Bitcoin</li>
								<li class="list-group-item">Espiritu Emprendedor</li>
								<li class="list-group-item">Scrum</li>
							</ul>
							<legend>Otra Información</legend> 
							<ul class="list-group">
								<li class="list-group-item">Pasaporte Habilitado</li>
								<li class="list-group-item">Ingles (Fluido)</li>
								<li class="list-group-item">Español (Nativo)</li>
								<li class="list-group-item">Licencia de conducir</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
