<navbar></navbar>
<div class="container">
	<div class="row" ng-show="loadingPlaylists">
		<div class="col-xs-1" ></div>
		<div class="box col-xs-10">
			<h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
		</div>
		<div class="col-xs-1" ></div>
	</div>
	<div class="row" ng-repeat="playlist in playlists" ng-show="!loadingPlaylists">
		<div class="box col-xs-1 invisible" ></div>
		<div class="box col-xs-10">
			<h3 class="text-center">
				<div ng-click="triggerPlaylist(playlist)" class="cursor-pointer">
					{{playlist.name}} <a ng-href="{{playlist.external_urls.spotify}}"><i class="fa fa-spotify"></i></a>
					<i class="fa hidden-xs fa-chevron-down pull-right cursor-pointer" ng-show="playlist.status != 'open'"></i>
					<i class="fa hidden-xs fa-chevron-up pull-right cursor-pointer" ng-show="playlist.status == 'open'"></i>
				</div>
			</h3>
			<div class="row hidden-xs text-center" ng-show="playlist.status == 'loading'">
                <h3><i class="fa fa-refresh fa-spin"></i></h3>
            </div>
			<table class="table table-hover hidden-xs" ng-show="playlist.status == 'open'">
				<thead>
					<tr>
						<th class="colum">#</th>
						<th class="colum">Artist</th>
						<th class="colum">Name</th>
						<th class="colum">Album</th>
						<th class="colum">Duration</th>
						<th class="colum"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in playlist.tracks">
						<td class="colum">{{$index}} </td>
						<td class="colum">{{item.track.artists[0].name}}</td>
						<td class="colum">{{item.track.name}}</td>
						<td class="colum">{{item.track.album.name}}</td>
						<td class="colum">{{item.track.duration_ms | msToMinutes }}</td>
						<td class="colum"><a ng-href="{{item.track.external_urls.spotify}}"><i class="fa fa-spotify"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box col-sm-1 invisible" ></div>
	</div>
</div>
