<navbar></navbar>
<div id="fb-root"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-9 blog-main ">
			<div class="box blog-post">
				<div class="profilePost col-sm-2" style="background-image: url('/getImage?name={{post.img}}');"></div>
				<div class="col-sm-10">
					<h2 class="blog-post-title text-left" ng-show="language=='es'">{{post.titleEs}}</h2>
					<h2 class="blog-post-title text-left" ng-show="language=='en'">{{post.titleEn}}</h2>
					<p class="blog-post-meta text-left">{{words.posted}} {{post.date | date:'MMM d, y'}} {{words.in}}  
					<span ng-if="post.categories.length < 1">{{post.categories[0]}}</span>
					<span ng-if="post.categories.length >= 1" ng-repeat="cat in post.categories"><span ng-if="!$first">, </span>{{cat}}</span>
					</p>
				</div>
				<br>
				<div class="col-sm-12 longBody" ng-show="language=='es'" ng-bind-html="toTrusted(post.bodyEs)"></div>
				<div class="col-sm-12 longBody" ng-show="language=='en'" ng-bind-html="toTrusted(post.bodyEn)"></div>
				<div class="col-sm-12">
					<a href="https://twitter.com/share" class="btn btn-share btn-default pull-right" data-via="LembleAugusto" data-size="large" data-count="none">Tweet <i class="fa fa-twitter"></i></a>
					<a class="btn btn-share btn-default pull-right" href="#"
					socialshare
					socialshare-provider="facebook"
					socialshare-text="{{post.titleEn}}"
					socialshare-caption="{{post.titleEn}}"
					socialshare-description="{{post.titleEn}}"
					>
					Share <i class="fa fa-facebook"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 blog-sidebar ">
			<sidebar></sidebar>
		</div>
	</div>
</div>
