<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>AugustoLemble</title>
        <meta name="author" content="Augusto Lemble">
        <meta name="description" content="Personal website with my works, music, journeys, etc.">
        <meta name="keywords" content="Augusto Lemble">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/img/handWhite.ico" type="image/x-icon">
        <!-- CSS and LESS -->
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/public/libs/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        <div class="fullHeight">
            <div class="container">
                <div class="row text-center box">
                    <br>
                    <div class="big-error"> WHOOPS! </div>
                    <h1>Error 500: Internal Error.</h1>
                </div>
            </div>
        </div>
    </body>
</html>