<nav class="blog-nav hidden-xs">
	<div class="container">
		<a class="blog-nav-item active" href="/"> {{words.home}}</a>  |  
		<a class="blog-nav-item" href="/projects"> {{words.projects}}</a>  |  
		<a class="blog-nav-item" href="/music"> {{words.music}}</a>  |
		<a class="blog-nav-item" href="/play"> {{words.play}}</a>
		<div class="btn-group language-button pull-right" >
		    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
		        <img ng-show="language == 'en'" src="/public/img/en-flag.png" class="flag"></img>
		        <img ng-show="language == 'es'" src="/public/img/es-flag.png" class="flag"></img>
		        <i class="fa fa-chevron-down"></i>
		    </button>
		    <ul class="dropdown-menu dropdown-menu-right language-dropdown">
		        <li>
		            <a ng-click="changeLang('en')"><img src="/public/img/en-flag.png" class="flag-mini"></img> {{words.english}}</a>
		        </li>
		        <li>
		            <a ng-click="changeLang('es')"><img src="/public/img/es-flag.png" class="flag-mini"></img> {{words.spanish}}</a>
		        </li>
		    </ul>
		</div>
	</div>
</nav>

<nav class="blog-nav visible-xs">
	<div class="container">
		<div class="btn-group language-button">
		    <span class="fa fa-bars dropdown-toggle cursor-pointer" type="button" data-toggle="dropdown" aria-expanded="false" ></span>
		    <ul class="dropdown-menu total-width">
		        <li><a class="blog-nav-item active" href="/"> {{words.home}}</a></li>
				<li><a class="blog-nav-item" href="/projects"> {{words.projects}}</a></li>
				<li><a class="blog-nav-item" href="/music"> {{words.music}}</a></li>
				<li><a class="blog-nav-item" href="/cv"> {{words.myCV}}</a></li>
		    </ul>
		</div>
		<div class="btn-group language-button pull-right" >
		    <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
		        <img ng-show="language == 'en'" src="/public/img/en-flag.png" class="flag"></img>
		        <img ng-show="language == 'es'" src="/public/img/es-flag.png" class="flag"></img>
		        <i class="fa fa-chevron-down"></i>
		    </button>
		    <ul class="dropdown-menu dropdown-menu-right language-dropdown">
		        <li>
		            <a ng-click="changeLang('en')"><img src="/public/img/en-flag.png" class="flag-mini"></img> {{words.english}}</a>
		        </li>
		        <li>
		            <a ng-click="changeLang('es')"><img src="/public/img/es-flag.png" class="flag-mini"></img> {{words.spanish}}</a>
		        </li>
		    </ul>
		</div>
	</div>
</nav>