<!DOCTYPE html>
<html ng-app="ALapp">
    <head>
        <base href="/">
        <title >AugustoLemble</title>
        <meta name="description" content="{{ metaService.metaDescription() }}" />
        <meta name="keywords" content="{{ metaService.metaKeywords() }}" />
        <meta name="author" content="Augusto Lemble">
        <meta name="email" content="Sendgrid">
        <meta property="og:site_name" content="Augusto Lemble"/>
        <meta property="og:url" content="<%= url %>" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="<%= ogimage %>" />
        <meta property="article:author" content="https://www.facebook.com/augusto8" />
        <meta property="article:publisher" content="https://www.facebook.com/augusto8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/dist/img/handWhite.ico" type="image/x-icon">
        <!-- CSS and LESS -->
        <link rel="stylesheet" href="/dist/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/dist/libs/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/dist/libs/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/dist/css/social-buttons.css">
        <link rel="stylesheet" href="/dist/css/styles.css">
        <!-- LIBS -->
        <script type="text/javascript" src="/dist/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/dist/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/dist/libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="/dist/libs/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="/dist/libs/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/dist/libs/ng-flow/dist/ng-flow-standalone.min.js"></script>
        <script type="text/javascript" src="/dist/libs/angular-socialshare/dist/angular-socialshare.min.js"></script>
        <!-- LANGUAGES -->
        <script type="text/javascript" src="/dist/languages.js"></script> 
        <!-- ANGULAR -->
        <script type="text/javascript" src="/dist/angular/appCore.js"></script>
        <script type="text/javascript" src="/dist/angular/directives/footer.js"></script>
        <script type="text/javascript" src="/dist/angular/directives/navbar.js"></script>
        <script type="text/javascript" src="/dist/angular/directives/sidebar.js"></script>
        <script type="text/javascript" src="/dist/angular/directives/image.js"></script>
        <script type="text/javascript" src="/dist/angular/services/publicService.js"></script> 
        <script type="text/javascript" src="/dist/angular/services/sessionService.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/navBarController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/sidebarController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/homeController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/postController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/cvController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/musicController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/projectsController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/footerController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/videoCallController.js"></script>
        <script type="text/javascript" src="/dist/angular/controllers/btcPaymentsController.js"></script>
        <script type="text/javascript" src="/dist/angular/routeProvider.js"></script>  
    </head>
    <body>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div ng-view class="fullHeight"></div>
        <div footer=""></div> 
    </body>
    <script type="text/javascript">
        document.head = document.head || document.getElementsByTagName('head')[0];

        var isWhite = true;
        function changeFavicon() {
            var link = document.createElement('link'),
            oldLink = document.getElementById('dynamic-favicon');
            link.id = 'dynamic-favicon';
            link.rel = 'shortcut icon';
            if (isWhite){
                link.href = "/dist/img/handRed.ico";
                isWhite = false;
            } else {
                link.href = "/dist/img/handWhite.ico";
                isWhite = true;
            } 
            if (oldLink) {
                document.head.removeChild(oldLink);
            }
            document.head.appendChild(link);
        }
        /*
        $('body').click(function() {
           changeFavicon()
        });*/
    </script>
</html>